@import 'variables';

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  .label {
    opacity: 0.6;
  }

  .input-container {
    background-color: black;
    padding: 10px;
  }

  input {
    display: block;
    border: none;
    font-size: 40px;
    background-color: black;
    color: blueviolet;
    text-shadow: 0 0 0 red, 0 0 10px red, 0 0 20px red;
  }
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

.error {
  margin-top: 10px;
  height: 20px;
  color: $alert-h;
  letter-spacing: initial;
}

.initial {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

my-secret-banner {
  margin-bottom: 40px;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;

  .search {
    padding: 10px;
    border: 1px solid white;
    border-radius: 0;
    background: inherit;
    width: 200px;
  }
}

.secret-container {
  font-size: 22px;
  display: grid;
  min-width: 400px;
  grid-template-columns: fit-content(0) max-content auto;
  padding: 10px;
  row-gap: 10px;
  column-gap: 30px;

  input {
    font-family: pfdinmono;
    border: none;
    font-size: 22px;
    padding: 5px;

    &:not(:focus) {
      background-color: inherit;
    }
  }

  & .infos {
    grid-column: 1 / span 3;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
  }
}

.secret-password {
  display: flex;
  gap: 10px;
}

.state-container {
  //width: 90%;
}

.icon {
  border: none;
}

.changed {
  color: red;
}