@import "variables";
@import "rce-glow";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.password {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  .input-container {
    padding: 10px;
  }

  input {
    @include rce-glow;
    font-size: 22px;
    display: block;
    border: none;
    padding: 5px;
  }
}

my-secret-banner {
  margin-top: 30px;
}

.toolbar {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  margin-top: 50px;
  width: 100%;
  justify-content: center;
}

.error {
  margin-top: 10px;
  height: 20px;
  color: $alert-h;
  letter-spacing: initial;
}

.initial {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 10px;
}

.title-area {
  position: fixed;
  background-color: $dark-bg;
  width: 100%;
  top: 0;
  z-index: 11;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.secret-container {
  font-size: 18px;
  display: grid;
  min-width: 400px;
  width: 100%;
  grid-template-columns: auto auto auto 20px;
  padding: 10px;
  row-gap: 10px;
  column-gap: 30px;

  input {
    font-family: pfdinmono;
    border: none;
    font-size: 14px;
    padding: 5px;

    &:not(:focus) {
      background-color: inherit;
    }
  }

  & .infos {
    grid-column: 1 / span 3;
    font-size: 14px;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
    display: flex;
    flex-direction: column;
  }
}

.secret-password {
  display: flex;
  gap: 10px;
}

.state-container {
  margin-top: 200px;
  width: 100%;
}

.icon {
  border: none;
  cursor: pointer;
  opacity: 0.3;

  &:hover {
    opacity: initial;
    color: #ff5f57;
  }
}

.changed {
  opacity: initial;
  color: $alert-h;
}

.search {
  padding: 10px;
  border: 1px solid white;
  border-radius: 0;
  background: inherit;
  width: 200px;
}

my-secret-eye-icon {
  position: relative;
  top: -2px;
}

.delete-secret {
  position: relative;
  top: -45px;
  transform: scale(0.9);
}

.new-or-upload {
  margin-top: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;

  button {
    border: none;
    width: 200px;
  }
}

.initial-title {
  font-size: 22px;
}

.reset-icon {
  margin-top: 10px;
  display: block;
}
