$font-size-l: 22px;
$font-size-m: 20px;
$font-size-s: 12px;
$font-size-xs: 10px;

$dark-opacity: 0.6;

$accent: #8d1b6e;

$dark-bg: #121212;
//$dark-bg: #222428;
$sb-dark-bg: #34373e;
$error: #b80a27; // $alert-d1

// stock colors
// Alert
$alert-d1: #b80a27;
$alert-t: #750014;
$alert-h: #f7193e;

$ok-d1: #1aa139;
$ok-t-l: #a7dbb3;
$orange-t-l: #fdd2b4;
$alert-t-l: #f6b3a0;
$lightgrey-h: #ebeef0;
$yellow-h: #f5c400;
$yellow-b: #ffd82b;
$aubergine-h: #4d3d47;
$orange-h: #fa893a;
$cherry-h: #8f3971;
$cherry-field: #f5e9f1;
$yellow-disabled: #faf5d7;
$info-field: #f8e9ca;
$blue-h: #14c8f5;
$warning-h: #ef7311;
$turquoise-d2: #00b3a7;
$orchid-h: #b099f7;
